.intro {
  font-size: 20px;
  color: pink;
}

h2.intro {
  font-size: 20px;
  color: pink;
}

p.intro {
  font-size: 20px;
  color: pink;
}

img.intro {
  font-size: 20px;
  color: pink;
}

.important {
  font-size: 15px;
  color: red;
}

.unimportant {
  font-size: 10px;
  color: blue;
}
